{% extends 'base/base.html.twig' %}

{% block body_id %}main-interface{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('layout') }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('layout') }}
    {{ encore_entry_script_tags('main') }}
{% endblock %}

{% block body %}
    {% include 'layout/navbar.html.twig' %}

    <div class="{% block main_clas %}main{% endblock %}">
        {% block main %}{% endblock %}
    </div>

    {% include 'layout/footer.html.twig' %}
{% endblock %}